body,
ul,
header {
    margin: 0;
    padding: 0;
}

/* Styling the navigation bar */
nav {
    background-color: #333;
    border-radius: 10px;
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color when hovered */
li a:hover {
    background-color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    /* padding: 0px 10px; */
}

img {
    max-width: 150px;
    border-radius: 3px;
    height: auto;
    width: auto;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 60%;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.user-icons {
    width: 10%;
    display: flex;
    justify-content: center;
}

.user-icons img {
    max-width: 30px;
}

.user-icons a {
    margin-right: 20px;
}